*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background: #fbfbfb;
}
img{
    width: 100%;
}
.clear{
    clear: both;
}

.box-carrousel{
    width: 600px;
    margin: 9% auto;
    position: relative;
    padding: 10px 38px;
    background: #fff;
    box-shadow: 0 0 5px 1px #000;
}

.box-carrousel .nav{
    position: absolute;
    top: 0;
    padding: 0 5px;
    display: table;
    height: 100%;
    background: cornflowerblue;
    color: #fff;

}

.box-carrousel .nav p{
    display: table-cell;
    vertical-align: middle;
}

.box-carrousel .nav:hover{
    background: #99ccff
}

.box-carrousel .nav.back{
    left:0;
    cursor: pointer;
}

.box-carrousel .nav.forth{
    right: 0;
    cursor: pointer;
}

.carrousel{
    list-style: none;
    width: 1000%;
    float: left;
    background: #fff;
}

.carrousel .item{
    float: left;
    width: 173px;
    padding: 10px;
    margin-right: 10px;
    background: #99ccff;
}